.content {
  font-size: 20px;
  text-align: justify;
  padding: 20px 4vw;
  transition: all 0.2s ease-in-out;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content.dark {
  color: #fafafa;
  background: #581845 ;
}

.content.light {
  color: #581845 ;
  background: #fafafa;
}